{{> navbar}}

<div class="container">
    
    <h1>Agenda</h1>

        <ul class="media-list">
            {{#each sessions as |session sessionIndex|}}
                <li>
                    <div class="row">
                        <div class="col-lg-2">
                            <h4 style="margin-top:0"><span class="label label-default">
                                {{ session.timeSlot }}</span></h4>
                        </div>
                        <div class="col-lg-10">
                            
                            {{#if session.brand}}
                                <p style="font-weight:bold; color:#337ab7; font-size:110%">{{session.brand}}</p>
                            {{/if}}

                            {{#if session.room}}
                                <p>{{ session.room }}</p>
                            {{/if}}
                            
                            <p><strong>{{ session.title }}</strong></p>
                            <p>
                                {{#if ../isAuthenticated}}
                                    {{#if session.isRealEvent}}
                                        {{#unless session.isRegistered}}
                                            <button ng-click="addToSchedule(session.sessionId, session.day, session.time)" 
                                            class="btn btn-xs btn-primary addToSchedule">Add to My Schedule</button>
                                        {{/unless}}
                                        {{#if session.isRegistered}}
                                            <button button ng-click="removeFromSchedule(session.sessionId)" 
                                            ng-if="$root.status.substr(0,8) == 'Approved' && currentToken && session.isRegistered" 
                                            class="btn btn-xs btn-success removeFromSchedule">Remove from My Schedule</button>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}

                                <!--<span ng-if="session.currentAttendees >= session.maxAttendees && session.room != '' && !session.isRegistered " class="label label-danger">No more places!</span>-->
                            </p>

                            <div ng-if="($root.role=='Admin' || $root.role=='PM') && session.room != ''" tooltip=" {{session.currentAttendees}} attendees, {{session.maxAttendees}} seats">
                                <progressbar style="height:5px;" max="session.maxAttendees" value="session.currentAttendees" type="info"></progressbar>
                            </div>

                            {{#if session.smallHr}}<hr />{{/if}}
                        </div>
                    </div>
                    {{#unless session.smallHr}}<hr style="border-color:gray" />{{/unless}}
                </li>
            {{/each}}
        </ul>    
</div>

{{#section 'script'}}
    <script src="/views/agenda/agenda.js"></script>
{{/section}}

{{> footer}}