{{> navbar}}

<div class="container">
    
    <h1>Inregistrare</h1>

    <form method="post" action="/login" class="form-horizontal" novalidate>

        <div id="lastNameFg" class="form-group has-feedback">
            <label class="col-md-2 control-label required">Nume de familie</label>
            <div class="col-md-4">
                <input type="text" name="lastName" class="form-control" value="{{lastName}}" autofocus/>                
                <p id="lastNameErr" class="help-block"</p>
            </div>
        </div> 
        
        <div id="firstNameFg" class="form-group has-feedback">
            <label class="col-md-2 control-label required">Prenume</label>
            <div class="col-md-4">
                <input type="text" name="firstName" class="form-control" value="{{firstName}}" />                
                <p id="firstNameErr" class="help-block"</p>
            </div>
        </div>  
        
        <div id="companyFg" class="form-group has-feedback">
            <label class="col-md-2 control-label required">Companie</label>
            <div class="col-md-4">
                <input type="text" name="company" class="form-control" value="{{company}}" />                
                <p id="companyErr" class="help-block"</p>
            </div>
        </div> 
        
        <div id="phoneFg" class="form-group has-feedback">
            <label class="col-md-2 control-label required">Telefon</label>
            <div class="col-md-4">
                <input type="text" name="phone" class="form-control" value="{{phone}}" />                
                <p id="phoneErr" class="help-block"</p>
            </div>
        </div>                     

        <div id="emailFg" class="form-group has-feedback">
            <label class="col-md-2 control-label required">Email</label>
            <div class="col-md-4">
                <input type="email" name="email" class="form-control" value="{{email}}" />                
                <p id="emailErr" class="help-block"</p>
            </div>
        </div>   
        
        <div id="pswFg" class="form-group">
            <label class="col-md-2 control-label required">Parola </label>
            <div class="col-md-4">
                <input type="password" name="password" class="form-control" autocomplete="off" />
                <p class="text-muted" style="margin-bottom:0">Adauga o parola de minim 6 caractere.</p>
                <p id="pswErr" class="help-block"</p>
            </div>
        </div>
        
        <div id="confirmPswFg" class="form-group">
            <label class="col-md-2 control-label required">Confirma parola </label>
            <div class="col-md-4">
                <input type="password" name="confirmPassword" class="form-control" autocomplete="off" />
                <p id="confirmPswErr" class="help-block"</p>
            </div>
        </div>        

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Salveaza</button>
            </div>
        </div>

    </form>
    
</div>

{{#section 'script'}}
    <script src="/views/user/register.js"></script>
{{/section}}

{{> footer}}